{% load static %}
<!DOCTYPE html>
<html lang="en" data-mdb-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Кабинет</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontawesome-6-pro@6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="{static 'web_interface/css/cabinet.css'}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>
    



</head>

<body>
    <header class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href=".">ВраЧат</a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <button type="button" class="btn btn-secondary menu-button" data-mdb-ripple-init>
                    <i class="fa-regular fa-circle-user avatar ms-auto fs-3" style="color:black;"></i>
                </button>

            </div>
        </div>
    </header>

    <div class="d-flex">
        <nav id="sidebarMenu" class="col-2 collapse d-lg-block sidebar collapse">
            <div style="top:10%;" class="sticky-top">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <h4 class="list-group-item py-2">
                        <center><span>Мои чаты</span></center>
                    </h4>
                    <a href="#" class="my-sidebar-block list-group-item list-group-item-action py-2 ripple">
                        <center><i class="fa-solid fa-circle-plus"></i> <b>Создать новый</b></center>
                    </a>
                    {% for chat in chats %}
                    <hr class="hr hr-blurry" />
                    <a href="/cabinet/{{chat.id}}/" class="my-sidebar-block list-group-item list-group-item-action py-2 ripple active">
                        <i class="fa-regular fa-message fa-fw me-3"></i><span>{{ chat.date }}</span>
                    </a>
                    {%endfor%}


                </div>
            </div>
        </nav>
        {% if active_chat %}
        <main class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <section class="card mb-3">
                        <div class="card-header text-muted">Переписка 11 февраля 14:23
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <div class="d-flex mb-3">
                                    <i class="fa-solid fa-user fa-2x"></i>
                                    <p class="my-chat-message note note-light ms-3">123</p>
                                </div>
                                <div class="d-flex ">
                                    <i class="fa-solid fa-circle fa-2x" style="color: #32d704;"></i>
                                    <p class="my-chat-message ms-3 mb-0" style="word-break: break-all;">321
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div style="padding-bottom:2%;background:#303030;box-shadow: 0px -7px 14px 0px #303030;"
                        class="d-flex align-items-center sticky-bottom">
                        <input style="margin-top: 2%;  box-shadow: 0px 0px 2px 2px white;" type="text"
                            class="form-control form-control-lg me-2 rounded-pill" placeholder="Введите запрос сюда..."
                            id="prompt_input" />
                        <button type="button"
                            class="btn btn-success rounded-pill" data-mdb-ripple-init data-mdb-ripple-color="light"
                            id="send_message">
                            <i class="fa-solid fa-paper-plane fs-3"></i>
                        </button>
                    </div>

                </div>
            </div>
        </main>
        {%else%}
        <main class="container mt-5">
            <div class="row justify-content-center">
             <h1>Выберите чат</h1>
            </div>
        </main>
        {%endif%}
    </div>




<footer>
    <script defer src="{% static 'web_interface/js/main.js'%}"></script>
</footer>
</body>

</html>